server:
  port: 8082

spring:
  application:
    name: gamification-service
  datasource:
    url: jdbc:postgresql://localhost:5432/gamification_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true


